.centered {
    margin: auto;
    width: 40%;
}
.menu-btn {
    width: 40%;
    display: block;
}
.p5Canvas {
    margin: 0;
    display: flex;
    /* This centers our sketch horizontally. */
    justify-content: center;

    /* This centers our sketch vertically. */
    align-items: center;
}
.header {
    margin: auto;
    width: 40%;
}