.my-form {
    margin: auto;
    width: 50%;
}
.p5Canvas {
    margin: 0;
    display: flex;
    /* This centers our sketch horizontally. */
    justify-content: center;

    /* This centers our sketch vertically. */
    align-items: center;
}